<pre><%= JSON.pretty_generate(@auth) %></pre>
<img src="<%= @auth[:info] && @auth[:info][:image] %>">

<a href='/auth/facebook'>Login with Facebook</a>  
<!-- line above same as line below -->
<%= link_to("login with facebook!", "/auth/facebook") %>
