
<h1><%= link_to "login with github!", "/auth/github" %></h1><br><br>

<h1><%= link_to "login with facebook!", "/auth/facebook" %></h1><br><br>

<h1><%= link_to "login with google!", "/auth/google" %></h1>
