<%# Add the Facebook login link here %>
<% if session[:user_id] %>
<h1><%= @user.name  %></h1>
<h2><%= @user.email %></h2>
<img src="<%= @user.image %>">
<% else %>
<%= link_to 'Log in with Facebook!', '/auth/facebook' %>
<% end %>
